NEXT_PUBLIC_SUPABASE_URL=https://dwhovhdxljcuynufyapz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR3aG92aGR4bGpjdXludWZ5YXB6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI4MTU0NDgsImV4cCI6MjA2ODM5MTQ0OH0.2xrE5C99twfEARKzG_EDCsl0r6IMvLkYtZoMq3s0G-c
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR3aG92aGR4bGpjdXludWZ5YXB6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MjgxNTQ0OCwiZXhwIjoyMDY4MzkxNDQ4fQ.AJK3OUbwIroO5rrG3AXGb2thnxvG8F1NQas00LtoOaM
